<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>

    <bean id="com.epam.springmvc.storage" class="com.epam.springmvc.storage.BookingStorage">
        <property name="mapper">
            <ref bean="objectMapper"/>
        </property>
    </bean>

    <bean id="StorageInitializer" class="com.epam.springmvc.util.StorageInitializer"
          p:userDataPath="${user.data.path}" p:ticketDataPath="${ticket.data.path}" p:eventDataPath="${event.data.path}"
    />

    <bean id="userDao" class="com.epam.springmvc.dao.implementation.UserDaoImpl">
        <property name="bookingStorage">
            <ref bean="com.epam.springmvc.storage"/>
        </property>
    </bean>
    <bean id="eventDao" class="com.epam.springmvc.dao.implementation.EventDaoImp">
        <property name="bookingStorage">
            <ref bean="com.epam.springmvc.storage"/>
        </property>
    </bean>
    <bean id="ticketDao" class="com.epam.springmvc.dao.implementation.TicketDaoImpl">
        <property name="bookingStorage">
            <ref bean="com.epam.springmvc.storage"/>
        </property>
    </bean>

    <bean id="userService" class="com.epam.springmvc.service.implementation.UserServiceImpl" autowire="byType"/>
    <bean id="eventService" class="com.epam.springmvc.service.implementation.EventServiceImpl" autowire="byType"/>
    <bean id="ticketService" class="com.epam.springmvc.service.implementation.TicketServiceImpl" autowire="byType"/>

    <bean id="bookingFacade" class="com.epam.springmvc.facade.BookingFacadeImpl">
        <constructor-arg name="eventService" ref="eventService"/>
        <constructor-arg name="userService" ref="userService"/>
        <constructor-arg name="ticketService" ref="ticketService"/>
    </bean>

    <context:property-placeholder location="classpath:application.properties"/>
</beans>